<!DOCTYPE html>
<html>
<head>
  <title>Vault RMS</title>
  <meta name="author" content="Ben Nelson and Lance Morgan">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render :partial => "navbar" %>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
	<div class="container main-content">
	<%= yield %>
	</div>

	<%= render :partial => "footer" %>
</body>
</html>
